:root {
    --areia: #EFB263;
    --preto: #000000;
    --branco: #FFFFFF;
    --light: #ffffff;
    --shadow: #c7d2db;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    /*tirar parte branca lateral do mobile*/
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 1.4em;
}

.btn {
    padding-left: 45px;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 0.7em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: var(--areia);
}

header img {
    margin-top: 20px;
}

#menu {
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 2em 3em;
    display: none;
}

#menu li, #menu a {
    list-style: none;
    padding: 17px 12em 2px 0;
    width: 100%;
}

.icone_perfil {
    height: 100px;
    width: 100px;
}

/*sessão chefs home*/
.containerchefs {
    background-color: var(--areia);
    width: 80%;
    height: 180px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 20px;
}

.chefsrenomeados img {
    width: 100px;
    height: 100px;
    margin-left: 7px;
}

.Loguinho {
    width: 20px;
    height: 25px;
    margin-left: 305px;
    margin-top: -25px;
    display: flex;
    align-items: center;
}

.titulochefs h3 {
    margin-left: 25px;
    font-weight: lighter;
}

.nomes {
    display: flex;
    justify-content: space-around;
}

.nomes div {
    text-align: center;
}
/*fim sessão chefs home*/
.container-restaurante {
    width: 95%;
    margin: 0 auto;
}

.container-restaurante section {
    margin-bottom: 35px;
}

.container-restaurante article {
    border-radius: 10px;
    color: gray;
}

.filtro {
    display: flex;
    justify-content: space-around;
    width: 100px;
    border-radius: 18px;
    padding: 10px 25px;
    margin: 15px 0px 15px 25px;
}

.filtro p {
    font-size: 25px;
    font-weight: 300;
    padding-right: 20px;
}

.container-restaurante section article {
    display: flex;
}

.shadow {
    box-shadow: -2px 4px 15px var(--shadow), -6px -6px 10px var(--light);
}

.ajustar-imagem img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.ajustar-imagem p {
    padding: 25px 0px 0px 10px;
    font-weight: 700;
    color: gray;
}

footer {
    width: 100%;
    height: 190px;
    background-color: var(--areia);
}

footer .baixo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .imagem-baixo {
    object-fit: cover;
}

footer ul {
    margin-top: 25px;
}

footer ul li {
    list-style-type: none;
    font-size: 10px;
}

footer ul li a {
    font-size: 10px;
}

footer ul .fale_conosco {
    margin-top: 20px;
    font-size: 10px;
}

footer li a {
    text-decoration: none;
    color: var(--preto);
}

footer .social-media {
    display: flex;
    width: 105px;
    height: 80%;
    justify-content: space-between;
    align-items: flex-end;
}

footer .social-media i {
    font-size: 20px;
    color: var(--preto);
}

/*Página de cadastro de parceiros*/

.containerparceiros {
    margin-top: 80px;
    width: 300px;
    height: 500px;
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 75px;
    margin-bottom: 50px;
}

.containerparceiros h1 {
    font-weight: lighter;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.containerparceiros form {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    /*serve pra espaçar as linhas*/
}

.camposdetexto input[type="text"] {
    border: none;
    border-bottom: solid 1px black;
}

/*fim página cadastro*/

/*Início página sobre chefs*/

div.sobre{
    display: flex;
    background-color: #DADADA;
    height: 120px;
    width: 100%;
    
}

.sobre h1{
    position: absolute;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    margin-left: 170px;
    margin-top: 15px;
    font-weight: normal;
    color: rgb(73, 48, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre img{
    opacity: 0.2;
    width: 100%;
    object-fit: cover;
}

.informacoes{
    display: flex;
    box-sizing: border-box;
    height: 500px;
    width: 90%;
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 30px;
    border-style: groove;
}

.informacoes p{
    font-size: 15px;
    margin-top: -20px;
}

.informacoes h1{
    font-size: 30px;
}

.texto_sobre{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    width: 80%;
    font-size: 14px;
    text-align: center;
    text-align: start;
    color: black
}

.criadores h1{
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    padding: 39px 0;
    color: #737373;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.criador_1{
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    height: 207px;
    width: 85%;
    margin-left: 36px;
    border: solid 1px black;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 50px;
}
.criador_1 img{
    display: flex;
    border-radius: 50em;
    height: 138px;
    margin-top: 28px;
    margin-left: 23px;
}

.criador_1 h3{
    font-weight: lighter;
    margin-top: 7px;
    margin-left: 15px;
    font-size: 11px;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.criador_1 p{
    margin-top: 111px;
    margin-left: -130px;
    font-size: 7.5px;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

@media(min-width: 800px) {
    footer .social-media {
        width: 150px;
    }
    footer .social-media i {
        font-size: 30px;
    }
    footer ul {
        margin-top: 5px;
    }
    footer ul li, footer ul li a {
        font-size: 15px;
    }
    footer .imagem-baixo img {
        width: 180px;
        object-fit: cover;
    }
    /*nav*/
    
    .pesquisa {
        margin-left: 400px;
    }
    .containerchefs {
        width: 50%;
        height: 200px;
        margin-left: 200px;
    }
    .chefsrenomeados img {
        margin-top: 10px;
        margin-left: 25px;
    }
    /*fim nav*/
    /*página cadastro de parceiro*/
    .containerparceiros {
        margin-left: 260px;
    }
    /*fim página cadastro de parceiros*/

    /*Sobre o site*/
    .sobre h1{
        margin-left: 370px;
    }

    .informacoes{
        margin-left: 50px;
    }

    .informacoes p{
        font-size: 19px;
        text-align: center;
        margin-left: 70px;
    }

}

@media(min-width: 1366px) {

    /*footer*/
    footer .social-media {
        width: 175px;
    }
    footer .social-media i {
        font-size: 38px;
    }
    footer ul {
        margin-top: 5px;
    }
    footer ul li, footer ul li a {
        font-size: 20px;
    }
    footer .imagem-baixo img {
        width: 200px;
        object-fit: cover;
    }
    /*fim footer*/
    /*home sessão chefs*/
    .containerchefs {
        width: 70%;
        height: 350px;
        margin-left: 200px;
    }
    .chefsrenomeados img {
        width: 200px;
        height: 200px;
      
        margin-top: 10px;
        margin-left: 90px;
    }

    .titulochefs h3{
        font-size: 30px;
        text-align: center;
    }

    .Loguinho {
        margin-left: 750px;
        margin-top: -40px;
        display: flex;
        align-items: center;
        width: 40px;
        height: 45px;
    }

    .nomes{
        font-size: 20px;
    }

    .nomes div{
        font-size: 20px;
        text-align: center;
    }

    /*fim home sessão chefs*/
    /*página cadastro de parceiro*/
    .containerparceiros {
        margin-left: 560px;
    }
    /*fim página cadastro de parceiros*/
}